*, *::after, *::before{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

    font-family: 'Inter', Helvetica, Arial, sans-serif;
}

html, body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: var(--_background-color-accent);
    color: var(--_text-color);
    overflow-x: hidden;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    scroll-behavior: smooth;
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-flow: row dense;

    height: auto;
    width: min(90%, 115rem);

    margin: 5rem 20rem;

    box-shadow: 5px 5px 15px var(--_accent-color-darker);
}

#profile-img {
    width: min(20rem, 50vw);
    height: min(20rem, 50vw);

    overflow: hidden;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    border-radius: 100%;
    box-shadow: 5px 5px 0px var(--_accent-color-dark);
    margin: 1rem;
}

#profile-img img{
    width: 100%;
    height: auto;
}

.left, .right{
    display: flex;
    flex-direction: column;
    flex-grow: initial;

    justify-content:flex-start;
    align-items: center;

    gap: 2rem;
}

.left{
    grid-column: 1 / span 1;
    background-color: var(--_accent-color);
}

.right{
    grid-column: 2 / span 1;
    background-color: var(--_background-color);
}

header, section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 2rem;
}

header{
    align-items: center;
}

header::after{
    width: 100%;
    height: 1px;
    content: "";
    box-shadow: 1px 1px 0px var(--_accent-color-dark);
}

h1 {
    color: var(--_text-color);
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 8px;
    text-align: center;
}

h2 {
    color: var(--_accent-color-dark);
    font-weight: 300;
    font-size: 20px;
    margin: 0 0 16px;
}

h3{
    color: var(--_accent-color-darker);
    font-size: 16px;
}

p {
    line-height: 150%;
    margin: 0.5rem;
    font-size: 16px;
}

ul{
    padding: 0rem 2rem;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.left h1, .left h2, .left p, .left li, .left a{
    color: var(--_text-color-light);
}

#coursework > div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#contacts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}