@media only screen and (max-width: 1024px){

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #coursework > div{
        flex-direction: column;
    }
}

@media only screen and (max-width: 450px){
    #contacts{
        flex-direction: column;
    }
}